<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Ticker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .stock-info {
            display: inline-block;
            margin-right: 20px;
        }

        .up-arrow {
            color: green;
        }

        .down-arrow {
            color: red;
        }
        #announceBtn:focus {
            border: 2px solid black;
        }
        #notAnnounceBtn:focus {
            border: 2px solid black;
        }
        #setPoliteBtn:focus {
            border: 2px solid black;
        }
        .container{
            text-align: center;
        }
        #stock-ticker{
            padding: 3%;
        }
        .stock-ticker-list{
            display: inline-flex;
        }
        ul {
            list-style-type: none;
        }
        .logo-img {
            width: 20%;
            padding-bottom: 2%;
        }
        @media (max-width: 768px) {
            .logo-img {
                width: 80%;
                padding-bottom: 10%;
            }
            .cust-pos svg {
                width: 30px;
                height: 30px;
                margin-bottom: 10px;
            }
        }
        .cust-pos {
            display: flex;
            margin-top: 20px;
        }

        .cust-pos svg {
            width: 100px;
            height: 50px;
            margin-right: 10px;
            margin-top: -1%;
        }

        .cust-pos p {
            margin: 0;
        }

        .copyright {
            margin-top: 10%;
            text-align: center;
            padding: 20px 0;
            background-color: #f8f9fa;
        }

    </style>
</head>
<body>

    <div class="container mt-5">
        <a class="logo" href="https://www.barrierbreak.com/" target="_blank" rel="noopener noreferrer">
            <svg class="logo-img" role="img" aria-label="BarrierBreak" width="575" height="145" viewBox="0 0 575 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M67.5201 111.12V122.31H77.5101V111.12C77.5101 97.53 81.7301 91.13 120.21 91.13H142.01C133.89 121.86 105.9 144.52 72.6001 144.52C39.3001 144.52 11.0801 121.67 3.09006 90.75H65.6801V80.76H1.26006C0.960056 78.12 0.810059 75.44 0.810059 72.74C0.810059 70.04 0.960056 67.35 1.26006 64.72H24.7001C44.9601 64.72 56.4201 63.09 64.2701 59.1C73.2101 54.56 77.3801 46.82 77.3801 34.74V23.54H67.3901V34.74C67.3901 48.32 63.1701 54.73 24.7001 54.73H3.09006C11.0801 23.8 39.1701 0.959961 72.6001 0.959961C106.03 0.959961 134.35 23.98 142.2 55.1H79.2201V65.09H143.98C144.25 67.61 144.39 70.16 144.39 72.74C144.39 75.59 144.22 78.39 143.9 81.14H120.21C85.2701 81.14 67.5201 85.78 67.5201 111.12Z" fill="#EF6F22"/>
                <path d="M192.91 48.7998C201.39 48.7998 209.19 51.3498 209.19 60.8798C209.19 66.2798 206.11 69.8098 201.69 71.6798C207.92 72.9598 211.67 77.0098 211.67 83.6098C211.67 93.3598 204.92 98.6898 192.46 98.6898H176.03V48.7998H192.91ZM199.82 62.2998C199.82 56.8198 196.22 55.6998 191.34 55.6998H185.19V69.1998H190.82C197.2 69.1998 199.82 66.2698 199.82 62.2998ZM201.99 83.6798C201.99 78.6498 198.54 75.8798 192.61 75.8798H185.18V91.6298H192.31C199.66 91.6298 201.99 88.2498 201.99 83.6798Z" fill="#333333"/>
                <path d="M217.22 81.4303C217.22 68.2303 223.75 59.8203 236.65 59.8203C239.2 59.8203 244.68 60.4203 250 62.4503V91.4803L250.75 98.6803H243.02L242.49 94.7003L242.19 94.6203C240.16 97.5503 236.86 99.8003 231.84 99.8003C220.51 99.8003 217.21 91.2503 217.21 81.4203L217.22 81.4303ZM241.23 86.7603V67.3303C240.1 66.8003 237.85 66.2803 235.53 66.2803C228.4 66.2803 226 73.0303 226 81.1303C226 87.2803 227.58 93.2103 233.8 93.2103C238.6 93.2103 241.23 89.9803 241.23 86.7603Z" fill="#333333"/>
                <path d="M258.93 60.9503H266.28L267.18 66.3503C268.83 62.1503 272.51 59.8203 276.26 59.8203C278.51 59.8203 280.84 60.3503 282.26 61.2503L280.68 68.6803C279.18 67.9303 277.3 67.3303 275.35 67.3303C271.3 67.3303 268.67 70.5603 268.52 74.9103V98.6903H259.59V66.9603L258.91 60.9603L258.93 60.9503Z" fill="#333333"/>
                <path d="M286.77 60.9503H294.12L295.02 66.3503C296.67 62.1503 300.35 59.8203 304.1 59.8203C306.35 59.8203 308.68 60.3503 310.1 61.2503L308.52 68.6803C307.02 67.9303 305.14 67.3303 303.19 67.3303C299.14 67.3303 296.51 70.5603 296.36 74.9103V98.6903H287.43V66.9603L286.75 60.9603L286.77 60.9503Z" fill="#333333"/>
                <path d="M314.3 50.0701C314.3 47.3701 316.33 45.1201 319.4 45.1201C322.47 45.1201 324.58 47.3001 324.58 50.0701C324.58 52.8401 322.4 55.1001 319.4 55.1001C316.4 55.1001 314.3 53.0001 314.3 50.0701ZM323.9 60.9501V98.6901H314.97V60.9501H323.9Z" fill="#333333"/>
                <path d="M331.4 80.6003C331.4 69.5703 337.78 59.8203 349.71 59.8203C357.06 59.8203 361.64 63.5703 361.64 70.2503C361.64 81.8003 348.66 83.6003 340.48 83.6803C340.86 88.3303 343.48 92.9803 349.86 92.9803C354.29 92.9803 357.51 90.9503 359.31 89.6803L362.09 95.6103C360.89 96.6603 355.94 99.8103 348.89 99.8103C336.51 99.8103 331.41 91.8603 331.41 80.6003H331.4ZM353.69 70.6303C353.69 67.8503 351.89 66.2003 349.19 66.2003C343.19 66.2003 340.41 71.7503 340.19 77.2303C344.24 77.3103 353.69 76.4103 353.69 70.6303Z" fill="#333333"/>
                <path d="M368.17 60.9503H375.52L376.42 66.3503C378.07 62.1503 381.75 59.8203 385.5 59.8203C387.75 59.8203 390.08 60.3503 391.5 61.2503L389.92 68.6803C388.42 67.9303 386.54 67.3303 384.59 67.3303C380.54 67.3303 377.91 70.5603 377.76 74.9103V98.6903H368.83V66.9603L368.15 60.9603L368.17 60.9503Z" fill="#333333"/>
                <path d="M414.05 49.3604C422.53 49.3604 430.33 51.9104 430.33 61.4404C430.33 66.8404 427.25 70.3704 422.83 72.2404C429.06 73.5204 432.81 77.5704 432.81 84.1704C432.81 93.9204 426.06 99.2504 413.6 99.2504H397.17V49.3604H414.05ZM420.95 62.8604C420.95 57.3804 417.35 56.2604 412.47 56.2604H406.32V69.7604H411.95C418.33 69.7604 420.95 66.8304 420.95 62.8604ZM423.13 84.2404C423.13 79.2104 419.68 76.4404 413.75 76.4404H406.32V92.1904H413.45C420.8 92.1904 423.13 88.8104 423.13 84.2404Z" fill="#333333"/>
                <path d="M439.63 61.5099H446.98L447.88 66.9099C449.53 62.7099 453.21 60.3799 456.96 60.3799C459.21 60.3799 461.54 60.9099 462.96 61.8099L461.38 69.2399C459.88 68.4899 458 67.8899 456.05 67.8899C452 67.8899 449.37 71.1199 449.22 75.4699V99.2499H440.29V67.5199L439.61 61.5199L439.63 61.5099Z" fill="#333333"/>
                <path d="M464.69 81.1696C464.69 70.1396 471.07 60.3896 483 60.3896C490.35 60.3896 494.93 64.1396 494.93 70.8196C494.93 82.3696 481.95 84.1696 473.77 84.2496C474.15 88.8996 476.77 93.5496 483.15 93.5496C487.58 93.5496 490.8 91.5196 492.6 90.2496L495.38 96.1796C494.18 97.2296 489.23 100.38 482.18 100.38C469.8 100.38 464.7 92.4296 464.7 81.1696H464.69ZM486.97 71.1896C486.97 68.4096 485.17 66.7596 482.47 66.7596C476.47 66.7596 473.69 72.3096 473.47 77.7896C477.52 77.8696 486.97 76.9696 486.97 71.1896Z" fill="#333333"/>
                <path d="M500.18 81.9899C500.18 68.7899 506.71 60.3799 519.61 60.3799C522.16 60.3799 527.64 60.9799 532.96 63.0099V92.0399L533.71 99.2399H525.98L525.45 95.2599L525.15 95.1799C523.12 98.1099 519.82 100.36 514.8 100.36C503.47 100.36 500.17 91.8099 500.17 81.9799L500.18 81.9899ZM524.18 87.3199V67.8899C523.05 67.3599 520.8 66.8399 518.48 66.8399C511.35 66.8399 508.95 73.5899 508.95 81.6899C508.95 87.8399 510.53 93.7699 516.75 93.7699C521.55 93.7699 524.18 90.5399 524.18 87.3199Z" fill="#333333"/>
                <path d="M551.27 47.1104V84.5504H551.65L565.23 61.5204H574.61L564.41 78.3204L574.31 99.2504H564.86L558.48 85.7504L550.3 99.2504H542.5V47.1104H551.28H551.27Z" fill="#333333"/>
            </svg>
        </a>
        <h1>Accessible Stock Ticker</h1>
        <div id="stock-ticker">
            <ul class="stock-ticker-list">
                <li>
                    <div id="nifty-bank" class="stock-info">Nifty-bank: 35000</div>
                </li>
                <li>
                    <div id="sensex" class="stock-info">Sensex: 50000</div>
                </li>
                <li>
                    <div id="nifty-50" class="stock-info">Nifty-50: 15000</div>
                </li>
            </ul>
        </div>
    
        <div class="mt-4">
            <ul class="stock-ticker-list">
                <li>
                    <button id="announceBtn" class="btn btn-primary me-2">
                        Speak
                        <span id="announceText" class="visually-hidden">Selected</span>
                    </button>
                </li>
                <li> 
                    <button id="setPoliteBtn" class="btn btn-info me-2">
                        Speak politely
                        <span id="setPoliteText" class="visually-hidden">Selected</span>
                    </button>
                </li>
                <li>
                    <button id="notAnnounceBtn" class="btn btn-secondary me-2">
                        Don't Speak
                        <span id="notAnnounceText" class="visually-hidden">Selected</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="mt-3">
        <div class="cust-pos" >
            <svg role="img" aria-label="info" fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 416.979 416.979" xml:space="preserve">
                <g>
                    <path d="M356.004,61.156c-81.37-81.47-213.377-81.551-294.848-0.182c-81.47,81.371-81.552,213.379-0.181,294.85
                        c81.369,81.47,213.378,81.551,294.849,0.181C437.293,274.636,437.375,142.626,356.004,61.156z M237.6,340.786
                        c0,3.217-2.607,5.822-5.822,5.822h-46.576c-3.215,0-5.822-2.605-5.822-5.822V167.885c0-3.217,2.607-5.822,5.822-5.822h46.576
                        c3.215,0,5.822,2.604,5.822,5.822V340.786z M208.49,137.901c-18.618,0-33.766-15.146-33.766-33.765
                        c0-18.617,15.147-33.766,33.766-33.766c18.619,0,33.766,15.148,33.766,33.766C242.256,122.755,227.107,137.901,208.49,137.901z">
                    </path>
                </g>
            </svg>
            <p>       
                Stock tickers tend to auto-update the stock price information in real-time. So while using this stock ticker on a live site, in order to conform to WCAG success criteria 2.2.2 Pause, Stop, Hide at Level A, it is recommended to add Pause/Resume buttons to help to stop and restart the auto-update.
                Pause button will stop the update and Resume button will restart the update with a notice that it is not the current update. Provide users with a control to view the latest updates. 
            </p>
            
        </div>
    </div>
    
        <!-- ARIA live region for screen reader announcements -->
        <div id="announcement" class="mt-3 visually-hidden" aria-hidden="true"></div>
        <div class="copyright">
            © 2024 BarrierBreak Solutions Pvt. Ltd. All Rights Reserved.
        </div>
    </div>

<script>
    const niftyBank = document.getElementById('nifty-bank');
    const sensex = document.getElementById('sensex');
    const nifty50 = document.getElementById('nifty-50');
    const announceBtn = document.getElementById('announceBtn');
    const notAnnounceBtn = document.getElementById('notAnnounceBtn');
    const setPoliteBtn = document.getElementById('setPoliteBtn');
    let announce = true; // Flag to track announcement state

    function updateButtonText(button, selected) {
        const hiddenText = button.querySelector('.visually-hidden');
        hiddenText.textContent = selected ? 'Selected' : '';
    }


    let prevNiftyBank, prevSensex, prevNifty50;

    const initialData = {
        nifty_bank: 35000,
        sensex: 50000,
        nifty_50: 15000
    };


    function updateTicker() {
        fetch('/get_data')
            .then(response => response.json())
            .then(data => {
                if (!initialData) {
                    initialData = data; // Store initial values if not already stored
                }
                const currentIndex = Math.floor(Date.now() / 5000) % data.length;
                const currentData = data[currentIndex];

                const niftyBankChange = calculatePercentageChange(initialData.nifty_bank, currentData.nifty_bank);
                const sensexChange = calculatePercentageChange(initialData.sensex, currentData.sensex);
                const nifty50Change = calculatePercentageChange(initialData.nifty_50, currentData.nifty_50);

                const arrowNiftyBank = getArrowAndChange(initialData.nifty_bank, currentData.nifty_bank, 'nifty-bank');
                const arrowSensex = getArrowAndChange(initialData.sensex, currentData.sensex, 'sensex');
                const arrowNifty50 = getArrowAndChange(initialData.nifty_50, currentData.nifty_50, 'nifty-50');

                displayStockInfo('nifty-bank', currentData.nifty_bank, niftyBankChange, arrowNiftyBank.arrow);
                displayStockInfo('sensex', currentData.sensex, sensexChange, arrowSensex.arrow);
                displayStockInfo('nifty-50', currentData.nifty_50, nifty50Change, arrowNifty50.arrow);

                if (announce) {
                    announceStockValues(currentData, arrowNiftyBank, arrowSensex, arrowNifty50);
                }
            });
    }

        function calculatePercentageChange(initialValue, newValue) {
            const change = ((newValue - initialValue) / initialValue) * 100;
            return change.toFixed(2);
        }

        function displayStockInfo(id, value, percentageChange, arrow) {
            const indexName = id.replace('-', ' ').replace(/\b\w/g, firstLetter => firstLetter.toUpperCase());
            const formattedPercentageChange = percentageChange > 0 ? `+${percentageChange}` : percentageChange;
            document.getElementById(id).innerHTML = `${indexName}: ${value} (${arrow} ${formattedPercentageChange}%)`;
        }


    function announceStockValues(data, arrowNiftyBank, arrowSensex, arrowNifty50) {
        let announcement = '';
        if (arrowNiftyBank.change === 'Increasing') {
            announcement += ` Nifty Bank ${data.nifty_bank} &plus;${arrowNiftyBank.percentChange}% `;
        } else if (arrowNiftyBank.change === 'Decreasing') {
            announcement += ` Nifty Bank ${data.nifty_bank} ${arrowNiftyBank.percentChange.replace('-', '&minus;')}% `;
        }

        if (arrowSensex.change === 'Increasing') {
            announcement += ` Sensex ${data.sensex} &plus;${arrowSensex.percentChange}% `;
        } else if (arrowSensex.change === 'Decreasing') {
            announcement += ` Sensex ${data.sensex} ${arrowSensex.percentChange.replace('-', '&minus;')}% `;
        }

        if (arrowNifty50.change === 'Increasing') {
            announcement += ` Nifty 50 ${data.nifty_50} &plus;${arrowNifty50.percentChange}% `;
        } else if (arrowNifty50.change === 'Decreasing') {
            announcement += ` Nifty 50 ${data.nifty_50} ${arrowNifty50.percentChange.replace('-', '&minus;')}% `;
        }

        document.getElementById('announcement').textContent = announcement.trim();
    }

    function getArrowAndChange(prevValue, newValue, id) {
        if (prevValue === undefined || newValue === prevValue) {
            return { arrow: '', change: 'No change', percentChange: 0 };
        }

        const percentChange = ((newValue - prevValue) / prevValue * 100).toFixed(2);
        const arrow = newValue > prevValue ? '<span aria-hidden="true" class="up-arrow">&#x25B2;</span>' : '<span aria-hidden="true" class="down-arrow">&#x25BC;</span>';
        const change = newValue > prevValue ? 'Increasing' : 'Decreasing';
        const formattedPercentChange = newValue > prevValue ? `+${percentChange}` : percentChange;
        document.getElementById(id).innerHTML = `${id.charAt(0).toUpperCase() + id.slice(1)}: ${newValue} (${arrow} ${formattedPercentChange}%)`;
        return { arrow, change, percentChange };
    }

    announceBtn.addEventListener('click', () => {
        announce = true;
        document.getElementById('stock-ticker').setAttribute('aria-live', 'assertive');
        document.getElementById('stock-ticker').setAttribute('aria-atomic', 'true');
        updateButtonText(announceBtn, true);
        updateButtonText(notAnnounceBtn, false);
        updateButtonText(setPoliteBtn, false);
        announceBtn.style.textDecoration = 'underline'; // Add underline to the button text
        notAnnounceBtn.style.textDecoration = 'none'; // Remove underline from other buttons
        setPoliteBtn.style.textDecoration = 'none';
    });

    notAnnounceBtn.addEventListener('click', () => {
        announce = false;
        document.getElementById('stock-ticker').removeAttribute('aria-live', 'polite');
        document.getElementById('stock-ticker').removeAttribute('aria-atomic', 'true');
        updateButtonText(announceBtn, false);
        updateButtonText(notAnnounceBtn, true);
        updateButtonText(setPoliteBtn, false);
        announceBtn.style.textDecoration = 'none';
        notAnnounceBtn.style.textDecoration = 'underline';
        setPoliteBtn.style.textDecoration = 'none';
    });

    setPoliteBtn.addEventListener('click', () => {
        announce = true;
        document.getElementById('stock-ticker').setAttribute('aria-live', 'polite');
        document.getElementById('stock-ticker').setAttribute('aria-atomic', 'true');
        updateButtonText(announceBtn, false);
        updateButtonText(notAnnounceBtn, false);
        updateButtonText(setPoliteBtn, true);
        announceBtn.style.textDecoration = 'none';
        notAnnounceBtn.style.textDecoration = 'none';
        setPoliteBtn.style.textDecoration = 'underline';
    });

    window.addEventListener('load', () => {
        document.getElementById('announceText').textContent = '';
        document.getElementById('notAnnounceText').textContent = '';
        document.getElementById('setPoliteText').textContent = '';
    });

    setInterval(updateTicker, 12000); // Update ticker every 5 seconds

    // Initial update final code
    updateTicker();
</script>

</body>
</html>
